<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>Best&C</title>
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <!-- CSS only -->
    {% bootstrap_javascript jquery=True %}
    <!-- Add additional CSS in static file -->
    {% include 'favicon.html' %}
    {% load static %}
    {# <link href="{% static 'react_django/fonts/poppins/poppins.css' %}" rel="stylesheet"> #}
    {# <link href="{% static 'react_django/css/styles.css' %}" type="text/css" rel="stylesheet"> #}
</head>

<body>
    <div class="container">
        {% block navbar %}
            {{ navbar.render }}
            <br />
        {% endblock %}
        {% bootstrap_messages %}
        {% block content %}{% endblock %}
        {# {% if is_paginated %} #}
            {# {% block pagination %} #}
                {# {% include 'pagination.html' %} #}
            {# {% endblock %} #}
        {# {% endif %} #}
    </div>
</body>
</html>