{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
<div>
    <div class="row">
        <div class="col-sm-7">
            <h3>{% trans "products"|title %} ({{ paginator.count }})</h3>
        </div>
        <div class="col-sm-5">
            {#            <SearchForm table='customers' /> #}
        </div>
    </div>
    <table class="table table-sm table-striped table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">{% trans "name"|title %}</th>
                <th scope="col">{% trans "price"|title %}, {% trans "currency" %}.</th>
                <th scope="col">{% trans "width"|title %}, {% trans "santimeters" %}</th>
                <th scope="col">{% trans "density"|title %}</th>
                <th scope="col">{% trans "created_at"|title %}</th>
                <th scope="col">{% trans "updated_at"|title %}</th>
                <th scope="col">
                    <a href="{% url 'product-new' %}" class="btn btn-outline-primary btn-sm">
                        {% trans "new"|title %}
                    </a>
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for product in page_obj %}
            <tr>
                <th scope="row">{{product.id}}</th>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.width}}</td>
                <td>{{product.density}}</td>
                <td>{{product.created_at}}</td>
                <td>{{product.updated_at}}</td>
                <td>
                    <a href="{% url 'product-update' product.id %}" class="btn btn-outline-primary btn-sm">
                        {% trans "edit"|title %}
                    </a>
                </td>
                <td>
                    <a href="{% url 'product-delete' product.id %}" class="btn btn-outline-primary btn-sm">
                        {% trans "Delete" %}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}