{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}
{% load static %}
{% load i18n %}
<script src="{% static "dynamic_formsets/jquery.formset.js" %}" type="text/javascript"> </script>

{% specialspaceless %}
{% if formset_tag %}
<form {{ flat_attrs|safe }} method="{{ form_method }}" {% if formset.is_multipart %} enctype="multipart/form-data"{% endif %}>
{% endif %}
    {% if formset_method|lower == 'post' and not disable_csrf %}
        {% csrf_token %}
    {% endif %}

    <div>
        {{ formset.management_form|crispy }}
    </div>

    <table{% if form_id %} id="{{ form_id }}_table"{% endif%} class="table table-info table-striped table-sm table-responsive border-info table-hover">
        <thead>
            {% if formset.readonly and not formset.queryset.exists %}
            {% else %}
                <tr>
                    {% for field in formset.forms.0 %}
                        {% if field.label and not field.is_hidden %}
                            <th for="{{ field.auto_id }}" class="col-form-label {% if field.field.required %}requiredField{% endif %}{% if field.label.css_class %} {{ field.label.css_class }}{% endif %}">
                                {{ field.label|safe }}
                                {% if field.field.required and not field|is_checkbox %}
                                    <span class="asteriskField">*</span>
                                {% endif %}
                            </th>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endif %}
        </thead>

        <tbody>
            <tr class="d-none empty-form" id="empty-form">
                {% for field in formset.empty_form %}
                    {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False %}
                {% endfor %}
            </tr>

            {% for form in formset %}
                {% if form_show_errors and not form.is_extra %}
                    {% include "bootstrap4/errors.html" %}
                {% endif %}

                <tr>
                    {% for field in form %}
                        {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
                <tr>
                    <td class="form-group" id="add_order_item_button_holder"></td>
                    <td class="form-group" colspan="2"></td>
                    {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False field=form.order_items_cost %}
                    {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False field=form.order_items_weight %}
                </tr>
                <tr id="gift"{% if not order.need_gift %} style="display: none;"{% endif%}>
                    {% include 'bootstrap4/field.html' with tag="td" field=form.gift %}
                    <td class="form-group" colspan="3"></td>
                    {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False field=form.gift_weight %}
                </tr>
                <tr>
                    <td class="form-group">{{ form.samples_weight.label|capfirst }}</td>
                    <td class="form-group" colspan="3"></td>
                    {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False field=form.samples_weight %}
                </tr>
                <tr>
                    <td class="form-group row">
                        {% include 'bootstrap4/layout/field_with_buttons.html' with wrapper_class="col-sm-4" field=form.post_cost buttons=count_post_cost_button %}
                        {% include 'bootstrap4/field.html' with wrapper_class="col-sm-3" field=form.packet %}
                        <div class="form-group col-sm-5">
                            <label class="form-label">{% trans "post cost with packet"|capfirst %}</label>
                        </div>
                    </td>
                    <td class="form-group text-right pt-2" colspan="2">
                        <span id="post_cost_with_packet">{{ order.post_cost_with_packet }}</span>&nbsp;-
                        <span id="post_discount">{{ order.post_discount }}</span>&nbsp;=
                    </td>
                    {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False field=form.total_postals %}
                    {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False field=form.packet_weight %}
                </tr>
                <tr>
                    <td class="form-group" colspan="3"></td>
                    {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False field=form.total_sum %}
                    {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False field=form.total_weight %}
                </tr>
        </tfoot>     
    </table>

    {% include "bootstrap4/inputs.html" %}

{% if formset_tag %}</form>{% endif %}
{% endspecialspaceless %}

